* {
    margin-left: 10px;
}

h1 {
    color: black;
    padding-top: 25px;
}

/* kill horizontal scrolling */
html, body {
    overflow-x: hidden;
}

#video-container1, #video-container2, #video-container3 {
    width: 100%;
    height: 100px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    /* -webkit-overflow-scrolling: touch; */
}

#video-container1 .card {
    /* background: url(../new_play.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 30px; */
    width: 24.5%;
    background-color: #eee;
    float: none;
    height: 75px;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

#video-container2 .card {
    /* background: url(../new_play.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 30px; */
    width: 24.5%;
    background-color: #eee;
    float: none;
    height: 75px;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

#video-container3 .card {
    /* background: url(../new_play.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 30px; */
    width: 24.5%;
    background-color: #eee;
    float: none;
    height: 75px;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

.nav_link-active {
    color: #009578;
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #f0f2f5;
    overflow-x: auto;
    margin-left: -10px;
}

.nav_icon {
    font-size: 18px;
}

.updateFiles {
    display: block;     /* input elements are in-line */
    margin: auto;
    margin-bottom: 100px;
    font-size: 18px;
    width: 75%;
}

/* required for offline navbar icons */

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(./MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
