h1 {
    color: black;
    padding-top: 25px;
    margin-left: 10px;
}

.input-group-prepend, .btn-primary  {
    margin-left: 10px;
    margin-right: 20px;
    width: 110px;
}

.custom-select {
    width: 190px;
}

.saveSettings {
    display: block;     /* input elements are in-line */
    margin: auto;
    font-size: 18px;
    width: 75%;
}

.navStartButton {
    font-size: 16px;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #f0f2f5;
    /* border: 3px solid green; */
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #f0f2f5;
    overflow-x: auto;
}

.nav_text {
    font-size: 16px;
}
.nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav_link-active {
    color: #009578;
    /* background-color: #009578; */
}

.nav_icon {
    font-size: 18px;
}

/* required for offline navbar icons */

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(./MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
